<html>

<head>
    <title>React App Demo</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

    <div id="root"></div>
    <script type="text/babel">

        const items =  <%- items %>;

        // define other components
        const albums = items.map(item => {
            return (
                <div class="item">
                    <a href={`/detail?title=${item.title}`}>{item.title}</a>
                </div>
            );
        });

        const App = () => {
            return (
                <div>
                    <Header/>
                    <div class="container">
                        {albums}
                    </div>
                </div>
            );
        }

        const Header = () => {
            return <h1>Albums</h1>;
        }

        ReactDOM.render(<App/>, document.getElementById('root'));
    </script>
</body>

</html>